/*********************************** Fonts ***********************************/
@font-face {
    font-family: 'TanSongBird';
    src: url('../fonts/TANSONGBIRD.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BubblebodyNeue';
    src: url('../fonts/bubblebody_neue/bubbleboddyneue-regular-trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*********************************** Header ***********************************/
/* background color */
#header-nav {
    background-color: #F3F5F9;
    border-radius: 0;
    border: 0;
}

/* spacing around the navbar */
.navbar-brand {
    padding-top: 25px;
}

/* brand image */
#logo-img {
    background: url('../images/logo/DeHoyosDuo7.png') no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 50px;
    margin: 10px 15px 10px 0;
}

/* brand name */
.navbar-brand h1 {
    font-family: 'TanSongBird', serif;
    color: #043854;
    font-size: .9em;
    text-transform: camelcase;
    font-weight: normal;
    text-shadow: 1px 1px 0px #c1bebe;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .50;
}

/* .navbar-brand a,
.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
} */

/*********************************** Body ***********************************/
body {
    font-size: 12px;
    color: #043854;
    background-color: #FFFFFF;
    font-family: 'BubblebodyNeue', sans-serif;
}