@font-face {
    font-family: 'BubblebodyNeue';
    /* The name you'll use in CSS */
    src: url('../fonts/bubbleboddyneue-regular trial.woff2') format('woff2');
    font-weight: normal;
    /* or bold, depending on your font file */
    font-style: normal;
    /* or italic */
}

body {
    font-size: 12px;
    color: #043854;
    background-color: #FFFFFF;
    font-family: 'BubblebodyNeue', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #F3F5F9;
    border-radius: 0;
    border: 0;
}