/*********************************** Fonts ***********************************/
@font-face {
    font-family: 'Noah';
    src: url('../fonts/noah/noah-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TanSongBird';
    src: url('../fonts/TANSONGBIRD.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BubblebodyNeue';
    src: url('../fonts/bubblebody_neue/bubbleboddyneue-regular-trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*********************************** Navbar ***********************************/
#header-nav {
    border-radius: 0;
    border: 0;
}

/* navbar spacing */
.navbar-brand {
    padding-top: 25px;
    padding-bottom: 20px;
}

/* brand image */
#logo-img {
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 50px;
    margin: 10px 15px 10px 0;
}

/* brand name style */
.navbar-brand h1 {
    font-family: 'TanSongBird', serif;
    font-size: .9em;
    text-transform: camelcase;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .50;
}

.nav-item {
    font-family: 'Noah', sans-serif;
    font-size: 20px;
    text-transform: camelcase;
    font-weight: normal;
}

/*********************************** Body Text ***********************************/
body {
    font-size: 12px;
    font-family: 'Noah', sans-serif;
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;

}