/* ---------------------- LIGHT THEME ---------------------- */
:root {
    --bg: #FFFFFF;
    --text: #043854;

    --header-bg: #F3F5F9;

    --brand-text: #043854;
    --brand-shadow: #c1bebe;

    --theme-icon: url('../images/icons/moon.png');
}

/* ---------------------- DARK THEME ---------------------- */
:root.dark {
    --bg: #043854;
    --text: #F3F5F9;

    --header-bg: #043854;

    --brand-text: #F3F5F9;
    --brand-shadow: rgba(255, 255, 255, 0.342);

    --theme-icon: url('../images/icons/sun.png');
}

/*********************************** APPLY VARIABLES ***********************************/
body {
    background-color: var(--bg);
    color: var(--text);
}

#header-nav {
    background-color: var(--header-bg);
}

.navbar-brand h1 {
    color: var(--brand-text);
    text-shadow: 1px 1px 0px var(--brand-shadow);
}

.nav-link {
    color: var(--text);
}

#logo-img {
    background: var(--logo-img) no-repeat;
}

.theme-toggle .theme-icon {
    background-image: var(--theme-icon);
}